body {
  max-width: 1200px;
  margin: auto;
  padding: 0rem 2rem;
  background-color: #fff8f0;
}

h1, h2, h3,
h4, h5, h6 {
  color: #3b3833;
  font-family: "Old Standard TT", serif;
}

p {
  color: #3b3833;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  border-bottom: 2px solid #3b3833;
  text-align: center;
  grid-area: header;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #3b3833;
  font-size: 50px;
}

nav {
  text-transform: uppercase;
  padding: 0 0 25px 0;
  text-align: center;
}

.space1 {
  padding-bottom: 20px;
}

.space2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul a {
  font-size: 25px;
  font-weight: 800;
  padding: 10px;
  text-decoration: none;
  color: #3b3833;
  font-family: "Old Standard TT", serif;
}
ul li {
  display: inline;
  padding: 5px;
}

aside h1 {
  font-size: 23px;
  font-style: italic;
}

.headtitle {
  text-align: center;
}
.headtitle h1 {
  font-size: 50px;
}

#wufoo-q1jz2il30snx6dc {
  border-bottom: 2px solid #3b3833;
  padding-bottom: 20px;
}

main, aside, .minis, .minis2 {
  border-bottom: 2px solid #3b3833;
  padding-bottom: 20px;
}

#podcast, #timeline {
  border-bottom: 2px solid #3b3833;
}

footer {
  text-align: center;
}
footer a {
  color: #3b3833;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "article" "aside" "minis" "minis2";
  color: #ffffff;
  font-size: 18px;
  font-family: roboto;
}

.grid a {
  color: #3b3833;
}

main {
  grid-area: article;
}

aside {
  grid-area: aside;
}

.minis {
  grid-area: minis;
}

.minis2 {
  grid-area: minis2;
}

footer {
  grid-area: footer;
}

/*timeline*/
.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #3b3833;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 20px;
  height: 20px;
  background: #3b3833;
  margin-top: 10px;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

/* media queries */
@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
@media (max-width: 762px) {
  .space3 {
    padding-top: 20px;
  }
  img {
    width: 100%;
    height: 300px;
  }
  .lining {
    border-bottom: 2px solid #3b3833;
    padding-bottom: 20px;
  }
  .lining2 {
    border-top: 2px solid #3b3833;
    padding-top: 20px;
  }
  article h1 {
    margin: 0 0 15px 0;
  }
  .minis2 h1 {
    font-style: italic;
    margin: 0;
    font-size: 25px;
  }
  .div1 h1 {
    font-size: 30px;
  }
}
@media (min-width: 763px) {
  main img {
    width: 100%;
    height: 300px;
  }
  .div1 h1 {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 15px;
  }
  aside h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  aside img {
    width: 100%;
    height: 300px;
  }
  aside h1 {
    margin-bottom: 0.9em;
  }
  .minis2 h1 {
    font-size: 28px;
  }
  .minis img {
    width: 100%;
    height: auto;
  }
  .minis2 h1 {
    margin-top: 0px;
  }
  .div1 {
    grid-area: 1/1/2/3;
  }
  .div2 {
    grid-area: 2/1/3/2;
  }
  .div3 {
    grid-area: 2/2/3/3;
  }
  .minis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .grid {
    grid-template-columns: 4fr 2fr;
    grid-template-areas: "header header" "article aside" "article aside" "minis minis2" "footer footer";
  }
}
@media (min-width: 1099px) {
  header h1 a {
    font-size: 78px;
  }
  main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 75px 1fr;
    grid-gap: 20px;
  }
  main img {
    width: 100%;
    height: 400px;
  }
  .div1 h1 {
    margin-top: 0;
    font-size: 35px;
  }
  aside h1 {
    margin-top: 0px;
    margin-bottom: 33px;
    font-size: 25px;
  }
  aside img {
    width: 100%;
    height: 283px;
  }
  minis img {
    width: 400px;
    height: 400px;
  }
  .minis2 h1 {
    font-size: 35px;
    margin-top: 0px;
  }
  .minis2 h4 {
    font-size: 20px;
  }
  .div3 p {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */