$typeface:'Open Sans', sans-serif;
$body-color: #0B2447;
$highlight: #9DC88D;
$grabber: #F1B24A;
$light: #F9E0B6;
$darker: #0D2C27 ;
$dark: #164A41;
$main: #4D774E;
$radius:20px;
$margin:20px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: $typeface;
    background-color: $dark;
    overflow-wrap: break-word;
    height: 100vh;
}

footer {
    p {
        color: $grabber;
    }
    a {
        color: $grabber;
        text-decoration: none;
    }
    padding:20px;
    text-align: center;
}

.cards {
    max-width: 1200px;
    padding:20px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    a {
        color: $grabber;
        text-decoration: none;
    }
}

.nav {
    h1  {
    text-align: center;
    font-size: 50px;
        a{
            color: $grabber;
            text-decoration: none;
            &:hover {
                padding:10px;
                background-color: $main;
                color: $grabber;
                transition: background-color 0.5s ease;
                border-radius: 5px;
            }
        }
 
    }
    h2 {
        
        text-align: center;
        a{
            color: $grabber;
            text-decoration: none;
            &:hover {
                padding:10px;
                background-color: $main;
                color: $grabber;
                transition: background-color 0.5s ease;
                border-radius: 5px;
            }
            
        }
    }

}
.card {
	background-color: $main;
	padding: 20px;
	border-radius: 5px;
    h1 {
        color: $grabber;
    }
    &:hover {
        background-color: $darker;
        color: $dark;
        transition: background-color 0.5s ease;
    }
    p{
        color: $light;
    }
}
